@page "/cpca/counsellor/{code}/{name}"
@model CPCA.Presentation.CMS.Pages.CounsellorModel

@if (Model.HasHeaderImage)
{
	<div class="bredcrumb text-center @Model.BgCss" @Model.BgStyle>
		<div class="row bredcrumb-inner">
			<div class="col-sm-12 align-self-center">
				<h1>@Model.FullName</h1>
				<ul class="">
					<li><a href="/" class="bread_link">Home</a></li>
					<li><a href="/directory" class="bread_link">Counsellor Directory</a></li>
					<li>@Model.FullName</li>
				</ul>
			</div>
		</div>
	</div>
}

<section class="member-details">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4">
				<div class="img-container">
					<img class="member-photo img-full" src="@Model.PhotoUrl" alt="@Model.FullName">
				</div>
			</div>
			<div class="col-lg-9 col-md-8">
				<div class="member_designation">
					<h2>@Model.FullName</h2>
					<span>@Model.Designation</span>
					@if (Model.HasWebsite)
					{
						<div><a href="@Model.WebsiteUrl" class="icon icon-circle" target="_blank" title="@Model.Website"><i class="fas fa-external-link"></i> @Model.Website</a></div>
					}
					<div><a href="@Model.PhoneUrl" class="icon icon-circle"><i class="fas fa-phone"></i> @Model.Phone</a></div>
					<div><a href="@Model.EmailUrl" class="icon icon-circle"><i class="fas fa-envelope"></i> @Model.Email</a></div>
				</div>
				<div class="member_desc">

					@Model.Profile

				</div>
				<div class="row">
					<div class="col-lg-4">
						<h5>Counselling Approaches</h5>
						<ul>
							@foreach (var item in Model.CounsellingApproaches)
							{
								<li><i class="fas fa-chevron-circle-right" aria-hidden="true"></i> @item</li>
							}
						</ul>
					</div>
					<div class="col-lg-4">
						<h5>Counselling Issues</h5>
						<ul>
							@foreach (var item in Model.CounsellingIssues)
							{
								<li>@item</li>
							}
						</ul>
					</div>
					<div class="col-lg-4">
						<h5>Counselling Types</h5>
						<ul>
							@foreach (var item in Model.CounsellingTypes)
							{
								<li>@item</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

