@page "/cpca/directory/{key?}"
@model CPCA.Presentation.CMS.Pages.DirectoryModel

@if (Model.HasHeaderImage)
{
	<div class="bredcrumb text-center @Model.BgCss" @Model.BgStyle>
		<div class="row bredcrumb-inner">
			<div class="col-sm-12 align-self-center">
				<h2>@Model.Title</h2>
				<ul for="">
					<li><a href="/" class="bread_link">Home</a></li>
					<li><a href="/directory" class="bread_link">@Model.Title</a></li>
				</ul>
			</div>
		</div>
	</div>
}

<div class="directory-page">

	@foreach (var block in Model.Data.Blocks)
	{
		<section class="@block.CssName()">
			<div class="container">
				@Html.DisplayFor(m => block, block.GetType().Name)
			</div>
		</section>
	}

	<div class="container">
		<form class="pb-5" method="post" action="/directory">
			@Html.AntiForgeryToken()
			<div class="row justify-content-center">
				<div class="form-group col-md-8 col-lg-6">
					<input name="Keywords" id="Keywords" type="text" class="form-control" spellcheck="false" data-ms-editor="true" placeholder="Search ..." asp-for="Keywords">
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="form-group col-md-8 col-lg-6">
					<select name="ApproachId" id="ApproachId" class="form-control" asp-for="ApproachId" asp-items="@Model.Approaches">
						<option>Counselling Therapy Approaches</option>
					</select>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="form-group col-md-8 col-lg-6">
					<select name="IssueId" id="IssueId" class="form-control" asp-for="IssueId" asp-items="@Model.Issues">
						<option>Counselling Therapy Modalities</option>
					</select>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="form-group col-md-8 col-lg-6">
					<select name="TypeId" id="TypeId" class="form-control" asp-for="TypeId" asp-items="@Model.Types">
						<option>Counselling Therapy Areas of Practice</option>
					</select>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col text-center">
					<button class="btn btn-primary btn-default card-btn" type="submit">Search</button>
				</div>
			</div>
		</form>
		<partial name="_DirectoryIndexLinks.cshtml" />

	</div>

	@if (Model.Results.Members.Count > 0)
	{
		<div class="container">
			<div id="team-element" class="element_single">
				<div class="display-single_element">
					<div class="row">
						@foreach (var member in Model.Results.Members)
						{
							<div class="col-md-6 col-lg-3">
								<div class="card team-card">
									<div class="card_img">									
										<img class="member-photo img-full" src="@member.PhotoUrl()" alt="@member.FullName">
										<div class="hover-overlay effect-scale">
											<div class="overlay-content">
												@if (member.HasWebsite())
												{
													<a href="@member.WebsiteUrl()" class="icon icon-circle" target="_blank" title="@member.WebsiteUrl()"><i class="fas fa-external-link"></i></a>
												}
												<a href="@member.TelephoneUrl()" class="icon icon-circle"><i class="fas fa-phone"></i></a>
												<a href="@member.EmailUrl()" class="icon icon-circle"><i class="fas fa-envelope"></i></a>
												<a href="@member.ProfileUrl()" class="icon icon-circle"><i class="fas fa-address-card"></i></a>
											</div>
										</div>
									</div>
									<div class="card-block">
										<a href="@member.ProfileUrl()"><h6 class="card-title">@member.FullName</h6></a>
										<span class="">@member.MemberType.Designation()</span>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	}
</div>
